<h2>tell us about yoursell</h2>
<form action="/process-contact" method="post">
<div>
<label > your name:
    <input type="name" />
</label>
</div>
<br />
<div>
<label > your name:
    <input name="email" type="email" />
</label>
</div>
<br />
<div>
    <button type="submit">Sumbit</button>
</div>
</form>