<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wed Develoment with Node and Express Example</title>
</head>
<body>
    <h1> Wed Develoment with Node and Express 2nd Edition Example</h1>
    <hr />
    {{{body}}}
</body>
</html>